<div class="goal-list">

  <h3>Here are a list of your goals. Would you like to update any?</h3>

  <ul>
    <% @goals.each do |goal| %>
    <button><%= goal.name %>

      <%= link_to 'delete',  { action: :destroy, id: goal.id }, method: :delete, data: { confirm: 'Are you sure?' } %>

      <% end %>
    </ul>

  </div>



  <div class="form-things">

    <%= form_for(@goal) do |f| %>

    <div class="errors">
      <% if @goal.errors.any? %>
      <h2>Attention: Please fill out the field</h2>
      <ul>
        <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
      <% end %>
    </div>


    <div class="field">
      <%= f.label :name, 'Goal:' %><br />
      <%= f.text_field :name %>
    </div>

    <br />
    <div class="submit">
      <%= f.submit 'Add Goal' %>
    </div>


    <% end %>


  </div>
