<div class="goal-list">

  <h3>Here are a list of your goals. Would you like to update any?</h3>

  <ul>
    <% @goals.each do |goal| %>
    <button><%= goal.name %>

      <%= link_to 'delete',  { action: :destroy, id: goal.id }, method: :delete %></button>
      <% end %>
    </ul>

  </div>



  <div class="form-things">

    <%= form_for(@goal) do |f| %>


    <div class="field">
      <%= f.label :name, 'Goal:' %><br />
      <%= f.text_field :name %>
    </div>

    <br />
    <div class="submit">
      <%= f.submit 'Add Goal' %>
    </div>

    <% end %>


  </div>
